@model IEnumerable<EmployeeManagement.Web.Models.Employees>

@{
    ViewBag.Title = "Employee Management";
}

<div class="form-horizontal">

    <hr />
    <div class="form-group">
        <table class="table table-responsive" style="width:400px">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FisrtName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SecondName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contact)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmailId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Salary)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeptName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmpLocation.EmpCity)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.FisrtName, "GetEmployeeById", new { moniker = item.Code })
                        @* @Html.DisplayFor(modelItem => item.FisrtName)*@
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SecondName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contact)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salary)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeptName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmpLocation.EmpCity)
                    </td>
                    <td>
                        <input type="button" value="View Skills" 
                               onclick="window.location='@Url.Action("GetSkills", "Skills", new {moniker=item.Code })'" />
                    </td>
                    <td>
                        @Html.ActionLink("Add to my Team","AddCartToSession", new { empId = item.Code })
                    </td>
                </tr>
            }

        </table>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Add Employees" class="btn btn-default" onclick="window.location='@Url.Action("AddEmployees", "Home")'" />
            </div>
        </div>
    </div>
</div>
